<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gig.name %>
</p>

<p>
  <b>Date:</b>
  <%= @gig.date %>
</p>

<p>
  <b>Time:</b>
  <%= @gig.time %>
</p>

<p>
  <b>Url:</b>
  <%= @gig.url %>
</p>


<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
